<h1>Hello! My name is <%=@name%> and my favorite food is <%=@fav_food%></h1>
<h2> My favorite drink is <%=@fav_drink%></h2>
<h1> I love <%=@fav_ethnic%> food! </h1>
<h1> You are a <%=@fav_preference%></h1>
<h1> I just filled out this foood form!</h1>








